/* micss */

body {
    padding-top: 70px;
}

.navbar {
    margin-bottom: 20px;
}

.dispNone {
    display: none;
}
.dispBlock {
    display: block;
}

/*
.contenido {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}*/