<?xml version="1.0" encoding="utf-8"?>
<config>
  <instalDir>C:\Prog\Hoppix\GenDeSubsPremiere</instalDir>
  <caracteresXlinea>40</caracteresXlinea>
  <carpetaSeleccionada>Z:\aiglés\2015-06-10 ClaHFA3\subs\Nueva carpeta</carpetaSeleccionada>
  <carpetaDeGuardado>C:\Users\gabix\Documents\Hoppix\GenDeSubsPremiere</carpetaDeGuardado>
</config>